<h2 class="form-signin-heading">Pesquisa</h2>
<div class="form-group row">
  <label class="col-sm-2 col-form-label">Status</label>
  <div class="col-sm-4">
    <select class="form-control" [(ngModel)]="filtro.status" name="Selecione o status"> 
      <option *ngFor="let statu of status" [ngValue]="statu">{{statu.descricao}}</option>
    </select>
  </div>

  <label class="col-sm-2 col-form-label">Cod. Projeto:</label>
  <div class="col-sm-2">
    <select class="form-control" [(ngModel)]="filtro.projeto" name="Selecione o projeto"> 
      <option *ngFor="let projeto of todosProjetos" [ngValue]="projeto">{{projeto.id}} - {{projeto.nome}}</option>
    </select>
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-2 col-form-label">Data inicio:</label>
  <div class="col-sm-6">
    <input type="text" name="nome" class="form-control" placeholder="ex. 01/01/2018" required autofocus>
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-2 col-form-label">Data fim:</label>
  <div class="col-sm-6">
    <input type="text" name="nome" class="form-control" placeholder="ex. 31/01/2018" required autofocus>
  </div>
</div>

<div class="form-group row">
  <div class="col-2">
    <button class="btn btn-primary" type="button" (click)="pesquisar()">PESQUISAR</button>
  </div>
  
  <div class="col-2">
    <button class="btn btn-danger" type="button" (click)="limpar()">Limpar</button>
  </div>
</div>

<hr />