<div class="row">
  <div class="col-4"><span style="float: none">Hábitos</span></div>
  <div class="col-8">
    <p>Atualmente, você considera sua qualidade de vida</p>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        Excelente
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        Boa
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        Regular
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option3">
        Ruim
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option3">
        Muito Ruim
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        Outro (especifique)
        <input type="text" class="form-control" aria-label="Text input with radio button">
      </label>
    </div>
  
    <hr />

    <p>Quantos dias por semana você costuma consumir frutas (naturais ou desidratadas) ou sucos naturais (direto da fruta ou polpa congelada)?</p>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
          1 a 2 dias por semana
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          3 a 4 dias por semana
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
          5 a 6 dias por semana	Raramente ou nunca
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option3">
          Todos os dias (inclusive sábado e domingo)
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option3">
          Não informado
        </label>
      </div>

    <hr />

    <p>E quantas porções você consome nesses dias? </p>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
          1
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          2
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
          3
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option3">
          4
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option3">
          5
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
          6 ou mais
        </label>
      </div>
      
    <hr />

    <p>Quantos dias por semana você costuma comer pelo menos um tipo de verdura ou legume (NÃO considere: milho, batata, mandioca/aipim/macaxeira, mandioquinha/batata baroa, cará ou inhame)?</p>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
          1 a 2 dias por semana
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          3 a 4 dias por semana
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
          5 a 6 dias por semana	Raramente ou nunca
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option3">
          Todos os dias (inclusive sábado e domingo)
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option3">
          Não informado
        </label>
      </div>

    <hr />

    <p>E quantas porções você consome nesses dias? </p>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        1 prato grande ou mais
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        1/2 prato grande
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        1/3 do prato grande
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option3">
        1/4 do prato grande
      </label>
    </div>
    
    <hr />

    <p>Em geral, as verduras/legumes são consumidos em qual refeição?</p>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        Só almoço
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        Só jantar
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        Almoço ou Jantar
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option3">
        Almoço e Jantar
      </label>
    </div>
    <hr />

    <p>Quantas porções* de carne vermelha você consome NA SEMANA (carne de vaca, porco, cordeiro e cabra, incluindo  embutidos)?</p> 
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        1
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        2
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        3
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option3">
        4
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option3">
        5 a 6
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        7 ou mais
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        Nenhuma ou raramente
      </label>
    </div>
    
    <hr />

    <p>Nos dias em que você consome açúcares e/ou doces*, normalmente são quantas porções? </p>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        até 1 porção
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        2 porções
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        3 porções
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option3">
        4 ou mais porções
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option3">
        Não consome
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        Não informado
      </label>
    </div>
    <hr />

    <p>Quantos dias por semana você costuma tomar refrigerante ou suco artificial em pó ou de caixinha com açúcar? NÃO considere opções light, diet ou zero.</p> 
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        1 ou 2 dias por semana
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        3 a 4 dias por semana
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        5 a 6 dias por semana
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option3">
        Raramente ou nunca
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option3">
        Todos os dias (inclusive sábado e domingo)
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        Não informado
      </label>
    </div>
    <hr />

    <p>Quanto você consome de água por dia? (Considere 1 copo de plástico = 200ml ou 1 garrafinha = 500ml)</p> 
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        1 a 4 copos (entre 0,5 e 1L)
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        5 a 7 copos (entre 1 e 1,5L)
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        8 a 9 copos (entre 1,5 e 2L)
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option3">
        10 ou mais copos (2L ou mais)
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option3">
        Nada ou pouco (menos de 0,5L)
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        Não informado
      </label>
    </div>
    <hr />

    <p>Quantas doses de bebida alcoólica você costuma consumir durante a semana?</p> 
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        1 a 2
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        3 a 4
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        5 a 6
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option3">
        7 a 9
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option3">
        10 ou mais
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        Não informado
      </label>
    </div>
    <hr />

    <p>Em relação ao cigarro, você:</p>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        Fuma Atualmente
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        Fumou, mas parou há mais de 1 ano
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        Fumou, mas parou há menos de 1 ano
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option3">
        Nunca fumou
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        Não informado
      </label>
    </div>
    <hr />

    <p>Você pratica alguma atividade física?</p> 
    <input class="btn btn-primary" type="button" value="Sim">
    <input class="btn btn-danger" type="button" value="Não">
    
  </div>
</div>

<div class="row">
  <div class="col-4">
    <span style="float: none">
      Por favor, assinale os esportes que pratica, frequência e duração de cada atividade:
    </span>
  </div>
  <div class="col-8">

    <p>Atividade 1 - Qual Atividade física?</p>
    <select class="custom-select" data-live-search="true">
      <option id="">Selecione</option>
      <option id="1">Alongamento</option>
      <option id="2">Basquete</option>
      <option id="3">Bicicleta ergométrica</option>
      <option id="4">Bilhar</option>
      <option id="5">Bodypump</option>
      <option id="6">Boliche</option>
      <option id="7">Boxe</option>
      <option id="8">Caminhada intensa (com cargas em subidas -ritimo rápido)</option>
      <option id="9">Caminhada leve (descarregando carros- andar em casa-plano)</option>
      <option id="10">Caminhada moderada (trilhas -caminhada como exercicio)</option>
      <option id="11">Capoeira</option>
      <option id="12">Cicilismo (como laser -lento-esforço leve)</option>
      <option id="13">Ciclismo (como lazer ou esforço moderado)</option>
      <option id="14">Ciclismo (corrida -rápido -esforço, vigoroso)</option>
      <option id="15">Correr</option>
      <option id="16">Dança de salão( rítimo musical agitado)</option>
      <option id="17">Dança de salão( rítimo musical lento)</option>
      <option id="18">Dançar</option>
      <option id="19">Escalar(rocha/rapel)</option>
      <option id="20">Esteira</option>
      <option id="21">Fresbe</option>
      <option id="22">Futebol</option>
      <option id="23">Golfe</option>
      <option id="24">Hidroginástica</option>
      <option id="25">Jumpo</option>
      <option id="26">Lutas</option>
      <option id="27">Musculação</option>
      <option id="28">Natação</option>
      <option id="29">Patinação</option>
      <option id="30">Pesca</option>
      <option id="31">Pilates</option>
      <option id="32">Rugby</option>
      <option id="33">Skate</option>
      <option id="34">Step</option>
      <option id="35">Tai Chi Chuan</option>
      <option id="36">Tênis</option>
      <option id="37">Tênis em dupla</option>
      <option id="38">Transport</option>
      <option id="39">Volei</option>
      <option id="40">Yoga/Hatha</option>      
    </select>
      
    <hr />

    <p>Atividade 1 - Quantas vezes na semana</p> 
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        1
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        2
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        3
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option3">
        4
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option3">
        5
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        6
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        7
      </label>
    </div>
    <hr />

    <p>Atividade 1 - Duração (cada vez)</p>
    <div class="form-check" *ngFor="let minuto of minutos">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        {{minuto.descricao}}
      </label>
    </div>
    
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-4">
    <span style="float: none">
      Você esta gravida ? 
    </span>
  </div>
  <div class="col-8">

    <p>Você é uma gestante?</p>
    <input class="btn btn-primary" type="button" value="Sim">
    <input class="btn btn-danger" type="button" value="Não">
    <hr />

    <p>Qual a medida da circunferência da sua cintura? MASC</p> 
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        < 94 cm
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        94 a 102
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        > 102 cm
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option3">
        Posição sinequanon se for homem, na base cadastro
      </label>
    </div>
    <hr />

    <p>Qual a medida da circunferência da sua cintura FEM</p> 
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        < 80 cm
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        80 a 88
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        > 88 cm
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option3">
        Posição sinequanon se for mulher, na base cadastro
      </label>
    </div>

    <hr />

    <p>Qual é o seu peso?</p> 
    <input type="text" class="form-control" aria-label="Text input with radio button">
    <hr />

    <p>Qual a sua altura? (formato de exemplo: 1.70)</p> 
    <input type="text" class="form-control" aria-label="Text input with radio button">
    <hr />

    <p>IMC</p> 
    <input type="text" class="form-control" aria-label="Text input with radio button">
    <hr />

    <p>IMC avaliação</p> 
    <input type="text" class="form-control" aria-label="Text input with radio button" value={{imcAvaliacao[0]}}>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <span style="float: none">
        Saúde Mental 
    </span>
  </div>
  <div class="col-8">

    <p>Como você avalia seu nível de estresse ultimamente?</p> 
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        Muito baixo ou sem estresse
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        Baixo (pouco estressado)
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        Médio ( moderadamente estressado)
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option3">
        Elevado (Muito estressado)
      </label>
    </div>
    <hr />

    <p>A que você atribui seu estresse atual?</p> 
    <select class="custom-select" data-live-search="true">
      <option id="">Selecione</option>
      <option id="1">Problemas familiares</option>
      <option id="2">Problemas de saúde</option>
      <option id="3">Problemas no trabalho</option>
      <option id="4">Problemas financeiros	Outro (especifique)</option>
    </select>
    
    <hr />

    <p>A que você atribui os seus problemas do trabalho?</p> 
    <select class="custom-select" data-live-search="true">
      <option id="">Selecione</option>
      <option *ngFor="let problemaTrabalho of problemasTrabalho">{{problemaTrabalho}}</option>
    </select>

  </div>
</div>

<div class="row">
  <div class="col-4">
    <span style="float: none">
      Considerando os últimos 30 dias, avalie se você apresentou os sintomas listados abaixo: 
    </span>
  </div>
  <div class="col-8">

    <p>Tem dores de cabeça frequentemente?</p> 
    <hr />

    <p>Tem falta de apetite?</p> 
    <hr />

    <p>Dorme mal?</p> 
    <hr />

    <p>Assusta-se com facilidade?</p> 
    <hr />

    <p>Tem tremores nas mãos?</p> 
    <hr />

    <p>Sente-se nervoso(a), tenso(a) ou preocupado(a)?</p> 
    <hr />

    <p>Tem má digestão?</p> 
    <hr />

    <p>Tem dificuldade de pensar com clareza?</p> 
    <hr />

    <p>Tem se sentido triste ultimamente?</p> 
    <hr />

    <p>Tem chorado mais do que o costume?</p> 
    <hr />

    <p>Encontra dificuldades em realizar com satisfação suas atividades diárias?</p> 
    <hr />

    <p>Tem dificuldade em tomar decisões?</p> 
    <hr />

    <p>Tem dificuldade no serviço, no emprego (seu trabalho é penoso, lhe causa sofrimento)?</p> 
    <hr />

    <p>É incapaz de desempenhar um papel útil em sua vida?</p> 
    <hr />

    <p>Tem perdido o interesse pelas coisas?</p> 
    <hr />

    <p>Sente-se uma pessoa inútil, sem préstimo?</p> 
    <hr />

    <p>Tem tido a ideia de acabar com a própria vida?</p> 
    <hr />

    <p>Sente-se cansado(a) o tempo todo?</p> 
    <hr />

    <p>Tem sensações desagradáveis no estômago?</p> 
    <hr />

    <p>Cansa-se com facilidade?</p> 
    <hr />

    <p>Pescoço - Tive problemas nos últimos 12 meses</p> 
    <hr />

    <p>Pescoço - Impediu-me de realizar atividades (trabalho, ativid. domésticas, lazer)</p> 
    <hr />

    <p>Pescoço - Consultei profissional de saúde (médico, fisioterapeuta) nos últimos 12 meses</p> 
    <hr />

    <p>Pescoço - Tive problemas nos últimos 7 dias</p> 
    <hr />

    <p>Ombros - Tive problemas nos últimos 12 meses</p> 
    <hr />

    <p>Ombros - Impediu-me de realizar atividades (trabalho, ativid. domésticas, lazer)</p> 
    <hr />

    <p>Ombros - Consultei profissional de saúde (médico, fisioterapeuta) nos últimos 12 meses</p> 
    <hr />

    <p>Ombros - Tive problemas nos últimos 7 dias</p> 
    <hr />

    <p>Costas - Tive problemas nos últimos 12 meses</p> 
    <hr />

    <p>Costas - Impediu-me de realizar atividades (trabalho, ativid. domésticas, lazer)</p> 
    <hr />

    <p>Costas - Consultei profissional de saúde (médico, fisioterapeuta) nos últimos 12 meses</p> 
    <hr />

    <p>Costas - Tive problemas nos últimos 7 dias</p> 
    <hr />

    <p>Cotovelos - Tive problemas nos últimos 12 meses</p> 
    <hr />

    <p>Cotovelos - Impediu-me de realizar atividades (trabalho, ativid. domésticas, lazer)</p> 
    <hr />

    <p>Cotovelos - Consultei profissional de saúde (médico, fisioterapeuta) nos últimos 12 meses</p> 
    <hr />

    <p>Cotovelos - Tive problemas nos últimos 7 dias</p> 
    <hr />

    <p>Punhos/mãos - Tive problemas nos últimos 12 meses</p> 
    <hr />

    <p>Punhos/mãos - Impediu-me de realizar atividades (trabalho, ativid. domésticas, lazer)</p> 
    <hr />

    <p>Punhos/mãos - Consultei profissional de saúde (médico, fisioterapeuta) nos últimos 12 meses</p> 
    <hr />

    <p>Punhos/mãos - Tive problemas nos últimos 7 dias</p> 
    <hr />

    <p>Lombar - Tive problemas nos últimos 12 meses</p> 
    <hr />

    <p>Lombar - Impediu-me de realizar atividades (trabalho, ativid. domésticas, lazer)</p> 
    <hr />

    <p>Lombar - Consultei profissional de saúde (médico, fisioterapeuta) nos últimos 12 meses</p> 
    <hr />

    <p>Lombar - Tive problemas nos últimos 7 dias</p> 
    <hr />

    <p>Quadril/coxas - Tive problemas nos últimos 12 meses</p> 
    <hr />

    <p>Quadril/coxas - Impediu-me de realizar atividades (trabalho, ativid. domésticas, lazer)</p> 
    <hr />

    <p>Quadril/coxas - Consultei profissional de saúde (médico, fisioterapeuta) nos últimos 12 meses</p> 
    <hr />

    <p>Quadril/coxas - Tive problemas nos últimos 7 dias</p> 
    <hr />

    <p>Joelhos - Tive problemas nos últimos 12 meses</p> 
    <hr />

    <p>Joelhos - Impediu-me de realizar atividades (trabalho, ativid. domésticas, lazer)</p> 
    <hr />

    <p>Joelhos - Consultei profissional de saúde (médico, fisioterapeuta) nos últimos 12 meses</p> 
    <hr />

    <p>Joelhos - Tive problemas nos últimos 7 dias</p> 
    <hr />

    <p>Pernas - Tive problemas nos últimos 12 meses</p> 
    <hr />

    <p>Pernas - Impediu-me de realizar atividades (trabalho, ativid. domésticas, lazer)</p> 
    <hr />

    <p>Pernas - Consultei profissional de saúde (médico, fisioterapeuta) nos últimos 12 meses</p> 
    <hr />

    <p>Pernas - Tive problemas nos últimos 7 dias</p> 
    <hr />

    <p>Tornozelos/pés - Tive problemas nos últimos 12 meses</p> 
    <hr />

    <p>Tornozelos/pés - Impediu-me de realizar atividades (trabalho, ativid. domésticas, lazer)</p> 
    <hr />

    <p>Tornozelos/pés - Consultei profissional de saúde (médico, fisioterapeuta) nos últimos 12 meses</p> 
    <hr />

    <p>Tornozelos/pés - Tive problemas nos últimos 7 dias</p> 
    <hr />

    <p>Outro (especifique)</p> 
  </div>
</div>

<div class="row">
  <div class="col-4">
    <span style="float: none">
      Algum médico já disse que você TEM ou TEVE alguma das doenças abaixo? (Caso responda "sim" para alguma doença na 1ª coluna, por favor responda também às questões da 2ª e da 3ª colunas. Caso não tenha nenhuma doença, deixe a questão em branco). 
    </span>
  </div>
  <div class="col-8">
    <p>Acidente vascular cerebral (derrame cerebral)</p> 
    <hr />

    <p>AIDS - Síndrome da imunodeficiência adquirida (HIV positivo)</p> 
    <hr />

    <p>Alergia</p> 
    <hr />

    <p>Ansiedade/depressão</p> 
    <hr />

    <p>Asma, bronquite ou enfisema</p> 
    <hr />

    <p>Câncer</p> 
    <hr />

    <p>Colesterol alto</p> 
    <hr />

    <p>Diabetes</p> 
    <hr />

    <p>Doença inflamatória intestinal (doença de Crohn, retocolite ulcerativa)</p> 
    <hr />

    <p>DSTs - Doença sexualmente transmissível (HPV, herpes, gonorréia, clamídia)</p> 
    <hr />

    <p>Enxaqueca/dores de cabeça</p> 
    <hr />

    <p>Hepatite B ou C</p> 
    <hr />

    <p>Insônia (dificuldade para dormir)</p> 
    <hr />

    <p>Lombalgia</p> 
    <hr />

    <p>Osteoporose</p> 
    <hr />

    <p>Pressão Alta</p> 
    <hr />

    <p>Problemas cardíacos (angina, infarto, insuficiência cardíaca)</p> 
    <hr />

    <p>Problemas de coluna</p> 
    <hr />

    <p>Problemas de tiróide</p> 
    <hr />

    <p>Problemas digestivos (gastrite, azia)</p> 
    <hr />

    <p>Problemas renais</p> 
    <hr />

    <p>Reumatismo (artrose, artrite, bursite)</p> 
    <hr />

    <p>Rinites, sinusites</p> 
    <hr />

    <p>Outro (especifique)</p> 
    
  </div>
</div>

<div class="row">
  <div class="col-4">
    <span style="float: none">
      Por favor, avalie se discorda ou concorda com cada afirmativa abaixo, considerando o quanto seus problemas de saúde (físicos/emocionais) afetaram suas atividades nos últimos 30 DIAS:
    </span>
  </div>
  <div class="col-8">
    <p>Devido a problemas de saúde, foi muito mais difícil lidar com o estresse do meu trabalho.</p> 
    <hr />

    <p>Apesar de ter problemas de saúde, eu consegui terminar tarefas difíceis em meu trabalho.</p> 
    <hr />

    <p>Problemas de saúde me impediram de fazer o meu trabalho com prazer.</p> 
    <hr />

    <p>Eu me senti desanimado para terminar algumas tarefas de trabalho devido a problemas de saúde.</p> 
    <hr />

    <p>No trabalho, eu consegui me concentrar em alcançar meus objetivos apesar de problemas de saúde.</p> 
    <hr />

    <p>Apesar de problemas de saúde, eu me senti animado (a) o suficiente para terminar todo o meu trabalho.</p> 
  </div>
</div>

<div class="row">
  <div class="col-4">
    <span style="float: none">
      Trabalho
    </span>
  </div>
  <div class="col-8">    
    <p>No ÚLTIMO ANO, você precisou FALTAR ao trabalho devido a problemas de saúde (físicos/emocionais)?</p> 
    <hr />

    <p>"Conheço as regras de saúde e segurança que devo seguir no meu setor de trabalho." Em relação a essa frase, você:</p> 
    <hr />

    <p>"Em geral, as pessoas no meu setor de trabalho cumprem as regras de saúde e segurança estabelecidas." Em relação a essa frase, você:</p> 
  </div>
</div>

<div class="row">
  <div class="col-4">
    <span style="float: none">
      Nos próximos 6 meses, você pretende mudar alguma coisa em sua saúde?
    </span>
  </div>
  <div class="col-8"> 
    <p>Perder Peso</p> 
    <hr />

    <p>Fazer a atividade Física ou aumentar a frequência</p> 
    <hr />

    <p>Ter uma alimentação mais saudável </p> 
    <hr />

    <p>Parar de fumar</p> 
    <hr />

    <p>Diminuir o consumo de bebida Alcoólica</p> 
    <hr />

    <p>Procurar controlar mais o estresse</p> 

  </div>
</div>

<div class="row">
  <div class="col-4">
    <span style="float: none">
      
    </span>
  </div>
  <div class="col-8"> 
    <p>Se você fosse praticar alguma atividade física ou de lazer visando melhoria na sua qualidade de vida, qual(is) seria(m) de sua preferência? Assinale até 5 opções:</p> 
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-4">
    <span style="float: none">
      Histórico
    </span>
  </div>
  <div class="col-8"> 
    <p>Você já tomou ou toma remédio para a pressão regularmente?</p> 
    <hr />

    <p>Alguma vez você teve açúcar elevado no sangue (em exame de rotina, durante alguma doença ou na gravidez)?</p> 
    <hr />

    <p>Você tem algum parente com diabetes?</p> 
  </div>
</div>

<div class="row">
  <div class="col-4">
    <span style="float: none">
      Saúde pessoal/familiar
    </span>
  </div>
  <div class="col-8"> 
    <p>Com que frequência esteve preocupado(a) por causa de alguma coisa que aconteceu inesperadamente?</p> 
    <hr />

    <p>Com que frequência se sentiu incapaz de controlar as coisas importantes da sua vida?</p> 
    <hr />

    <p>Com que frequência se sentiu nervoso(a) e em estresse?</p> 
    <hr />

    <p>No último mês, com que frequência sentiu confiança na sua capacidade para enfrentar os seus problemas pessoais?</p> 
  </div>
</div>

<div class="row">
  <div class="col-4">
    <span style="float: none">
      Saúde Financeira
    </span>
  </div>
  <div class="col-8"> 
    <p>Você tem costume de fazer orçamento doméstico?</p> 
    <hr />

    <p>Qual sua participação na vida econômica da sua família?</p> 
    <hr />

    <p>Caso tenha problemas financeiros, eles afetam quais setores da sua vida?</p> 
    <hr />

    <p>Você conversa com a sua família sobre as finanças domésticas?</p> 
    <hr />

    <p>Você já participou de palestra sobre Educação Financeira?</p> 
    <hr />

    <p>Como considera sua finanças hoje?</p> 
    <hr />

    <p>Nível de gravidade da situação financeira:</p> 
    <hr />

    <p>Hoje, sua principal preocupação financeira é:</p> 
  </div>
</div>

<div class="row">
  <div class="col-4">
    <span style="float: none">
      Saúde Preventiva
    </span>
  </div>
  <div class="col-8"> 
    <p>Você realizou acompanhamentos a prevenção de cancer de Mama no ultimo ano ?</p> 
    <hr />

    <p>Você realizou acompanhamentos a prevenção de cancer de Colo de útero no ultimo ano ?</p> 
    <hr />

    <p>Você tem historico familiar onde alguém possuia cancer de Colon Retal?</p> 
    <hr />

    <p>Você possui habitos voltados a contracepção sexual?</p> 
    <hr />

    <p>Você realizou algum tipo de Check up no ultimo ano?</p> 
  </div>
</div>


