  <h2 class="form-signin-heading">CFPS</h2>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">CFPS</label>
    <div class="col col-md-6">
      <select class="form-control" [(ngModel)]="cfpsSelecionado" name="Selecione CFPS"> 
        <option *ngFor="let cfps of cfpsAtivos" [ngValue]="cfps">{{cfps.nome}}</option>
      </select>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-success" (click)="selecionar()">
        <span class="ion-plus-round"></span>
      </button>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">CFPS Selecionados:</label>
    <div class="col-sm-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Remover</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cfps of projeto.cfps; let idx = index;">
            <th scope="row">{{idx+1}}</th>
            <td>{{cfps.nome}}</td>
            <td>{{cfps.telefone}}</td>
            <td>
              <button type="button" class="btn btn-danger" (click)="deletar(cfps)">
                <span class="ion-close-round Deletar"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>