<h2 class="form-signin-heading">Tomada de Decisão</h2>
<div class="form-group row">
  <label class="col-sm-2 col-form-label">Status</label>
  <div class="col-sm-4">
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Em Cadastro</option>
      <option>Staus 2</option>
      <option>Staus 3</option>
      <option>Staus 4</option>
      <option>Staus 5</option>
    </select>
  </div>

  <label class="col-sm-2 col-form-label">Cod. Projeto:</label>
  <div class="col-sm-2">
      <select class="form-control">
        <option>Todos</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Data inicio:</label>
    <div class="col-sm-6">
      <input type="text" name="nome" class="form-control" placeholder="Data inicio" required autofocus>
    </div>
  </div>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Data fim:</label>
    <div class="col-sm-6">
      <input type="text" name="nome" class="form-control" placeholder="Data fim" required autofocus>
    </div>
  </div>
<hr />

<div class="form-group row">
  <div class="col-sm-8">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Projetos</th>
        <tr>
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Projeto</th>
          <th scope="col">Cliente</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let projeto of projetos">
          <th scope="row">{{projeto.id}}</th>
          <td>{{projeto.nome}}</td>
          <td>{{projeto.gerente.nome}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm-4">
    <table class="table">
      <thead>
        <tr>
          <th colspan="3" align="center" >GP</th>
        </tr>  
        <tr>
          <th scope="col">CFPS</th>
          <th scope="col">=</th>
          <th scope="col">PF</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let projeto of projetos">
          <td>
            <select class="form-control" [(ngModel)]="cfpsSelecionado" (ngModelChange)="onChange($event,  projeto)" name="Selecione CFPS"> 
              <option *ngFor="let cfps of projeto.cfps" [ngValue]="cfps">{{cfps.nome}}</option>
            </select>
          </td>
          <td>=</td>
          <td>{{projeto.pontosFuncao}}</td>
          <td>{{projeto.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
