<h2 class="form-signin-heading">Cadastrar Projeto</h2>
<form>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Codigo</label>
    <div class="col">
      <input type="text" class="form-control" disabled value="{{projeto.codigo}}">
    </div>
    <div class="col-2">
      <button class="btn btn-primary" type="button" (click)="novo()">Novo</button>
    </div>
    <div class="col-2">
      <button class="btn btn-secondary" type="button" (click)="novo()">
        <span class="ion-search"></span>
      </button>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Nome:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" value="{{projeto.nome}}">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Descrição:</label>
    <div class="col-md-6">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" value="{{projeto.descricao}}"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Status:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" value="{{projeto.status}}" disabled>
    </div>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label">Arquivos:</label>
      <div class="col-sm-6">
        <file-drop headertext="Soltar os arquivos aqui!" (onFileDrop)="dropped($event)" 
        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        </file-drop>
        <div class="upload-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody class="upload-name-style">
                    <tr *ngFor="let item of files; let i=index">
                        <td><strong>{{ item.relativePath }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">GP Backup</label>
    <div class="col-sm-6">
      <select class="form-control" id="exampleFormControlSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">CNPJ:</label>
    <div class="col col-md-6">
      <input type="text" class="form-control" value="{{projeto.cliente.cnpj}}">
    </div>
    <div class="col-2">
      <button class="btn btn-secondary" type="button" (click)="pesquisar()">
        <span class="ion-search"></span>
      </button>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Cliente:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" value="{{projeto.cliente.nome}}" disabled>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">CFPS</label>
    <div class="col col-md-6">
      <select class="form-control" [(ngModel)]="cfpsSelecionado" name="Selecione CFPS"> 
        <option *ngFor="let cfps of cfpsAtivos" [value]="cfps">{{cfps.nome}}</option>
      </select>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-success" (click)="adicionarCFPS()">
        <span class="ion-plus-round"></span>
      </button>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">CFPS Selecionados:</label>
    <div class="col-sm-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Remover</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cfps of projeto.cfps; let idx = index;">
            <th scope="row">{{idx+1}}</th>
            <td>{{cfps.nome}}</td>
            <td>{{cfps.telefone}}</td>
            <td>
              <button type="button" class="btn btn-danger" (click)="deletarCFPS(cfps)">
                <span class="ion-close-round Deletar"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>