<h2 class="form-signin-heading">Projeto</h2>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Codigo</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" disabled value="{{projeto.id}}">
    </div>
    <div class="col-2">
      <button class="btn btn-primary" type="button" (click)="novo()">Novo</button>
    </div>
    
    <label class="col-sm-2 col-form-label">Projeto:</label>
    <div class="col-2">
      <select class="form-control" [(ngModel)]="projetoSelecionado" name="Selecione CFPS"> 
        <option *ngFor="let projeto of projetosAtivos" [ngValue]="projeto">{{projeto.id}} - {{projeto.nome}}</option>
      </select>
    </div>
    <div class="col">
      <button class="btn btn-secondary" type="button" (click)="pesquisar()">
        <span class="ion-search"></span>
      </button>
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Nome:</label>
    <div class="col-sm-6">
      <input [(ngModel)]="projeto.nome" type="text" name="nome" class="form-control" placeholder="nome do projeto" required autofocus>
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Descrição:</label>
    <div class="col-md-6">
      <input [(ngModel)]="projeto.descricao" type="text" name="descricao" class="form-control" placeholder="descricao do projeto" required autofocus>
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Status:</label>
    <div class="col-sm-6">
      <input [(ngModel)]="projeto.status" type="text" name="status" class="form-control" placeholder="status do projeto" disabled>
    </div>
  </div>
  
  <div class="form-group row">
      <label class="col-sm-2 col-form-label">Arquivos:</label>
      <div class="col-sm-6">
        <file-drop headertext="Soltar os arquivos aqui!" (onFileDrop)="dropped($event)" 
        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        </file-drop>
        <div class="upload-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody class="upload-name-style">
                    <tr *ngFor="let item of files; let i=index">
                        <td><strong>{{ item.relativePath }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
  
  <gerente-selecionar [projeto]="projeto"></gerente-selecionar>

  <cliente-selecionar [projeto]="projeto"></cliente-selecionar>
  
  <cfps-selecionar [projeto]="projeto"></cfps-selecionar>

  <div class="form-group row">
    <div class="col-2">
      <button [swal]="successSwal" class="btn btn-primary" type="button" (click)="salvar()">Salvar</button>
    </div>
    
    <div class="col-2">
      <button *ngIf="projeto.id!=null"  [swal]="deleteSwal" class="btn btn-danger" type="button" (click)="deletar()">Deletar</button>
    </div>
  </div>

<swal 
  #successSwal
  timer=2500
  position="top-right"
  title="Salvo com sucesso!"
  type="success"
  [showCancelButton]="false"
  [focusCancel]="false">
</swal>

<swal 
#deleteSwal
timer=2500
position="top-right"
title="Excluido com sucesso!"
type="error"
[showCancelButton]="false"
[focusCancel]="false">
</swal>